manifest {
    description = 'Pipeline for quanitifying amplicon-based NGS experiments'
    mainScript = 'main.nf'
    author = "Thomas W. Battaglia"
}

// Set default parameters
params {
  fastq = ''
  library = ''
  mode = 'library'
  mapper = 'bbmap'
  outdir = 'results'
  length = 0
  quality = 10
  check = false
  dedup = false
  help = false
  print = false
  tracedir = "${params.outdir}/pipeline_info"
}

process.conda = "$baseDir/environment.yaml"

// Capture Nextflow reports into separate directory
timeline {
  enabled = true
  file = "${params.tracedir}/timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/DAG.svg"
}
